/rescancam
/both
/*.fnd
/*.srt
/*.log
/rescancam-test
/subtract-dir
/delete-similar-files-archives
/end-of-day-cleanup
/delete-similar-files
/delete-dark-files
/delete-uninteresting-archive
/delete-uninteresting-mass
/delete-uninteresting
/file-away-override
/file-away-archive
/file-away
/detect-stars
/astronomy-problems
/hold
/*~
bump-version-number
bump
/.emacs.desktop*
/nrescancam
